<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.health.READ_SLEEP" />

    <application
        android:name=".SleepCareApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@android:drawable/ic_menu_day"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/ic_menu_day"
        android:supportsRtl="true"
        android:theme="@style/Theme.SleepCare">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SleepCare">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".health.HealthConnectOnboardingActivity"
            android:exported="true"
            android:permission="com.google.android.apps.healthdata.permission.START_ONBOARDING"
            android:theme="@style/Theme.SleepCare" >
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_ONBOARDING" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".health.UAndAboveOnboardingActivity"
            android:exported="true"
            android:permission="android.permission.health.START_ONBOARDING"
            android:targetActivity=".health.HealthConnectOnboardingActivity">
            <intent-filter>
                <action android:name="android.health.connect.action.SHOW_ONBOARDING" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".health.HealthPermissionsRationaleActivity"
            android:exported="true"
            android:theme="@style/Theme.SleepCare">
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".health.ViewPermissionUsageActivity"
            android:exported="true"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE"
            android:targetActivity=".health.HealthPermissionsRationaleActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>
